<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ lokal.name }}</title>
</head>
<body>
{% if kebaby %}
    <ul>
        {% for kebab in kebaby %}
            <li><a href="{{  request.path }}kebab/{{ kebab.id }}/">{{ kebab.name }}</a>
            <a>{{ kebab.avg_meat }}</a>
            <a>{{ kebab.avg_sauce }}</a>
            <a>{{ kebab.avg_batter }}</a>
            <a>{{ kebab.avg_salds }}</a>
            <a>{{ kebab.avg_overall }}</a>
            <a href="{{  request.path }}kebab/{{kebab.id}}/rate">Ocen kebaba</a>
                </li>
        {% endfor %}
    </ul>
{% endif %}

<a target="_blank" class="btn" href="{{ request.path }}kebab/new">Dodaj nowego kebaba</a>


</body>
</html>