<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj lokal</title>
        {% load staticfiles %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kebab_new.css' %}">
</head>

<body>
<div class="page-header1">
</div>

<div class="page-header2">
    <h1><a class="h1-s" href="/kebaby_lokale/sort/overall/">Chodź na kebsa!</a></h1>
</div>

<div class="page-header1">
</div>

<div class="page-header2">
    <h1>Dodajesz lokal</h1>
</div>

<div class="divs">
    <div class="form_group">
        <form method="POST" class="lokal_new">{% csrf_token %}
            {{ form.as_p }}
 <div class="wrapper">
                <button type="submit" class="save btn btn-default">Zapisz</button>
            </div>        </form>
    </div>
</div>
</body>
</html>